<header class="navbar navbar-expand-md d-none d-lg-flex d-print-none beeui-navbar {{ layout.navbar_variant_class }}{% if layout.navbar_sticky %} beeui-navbar-sticky{% endif %}" aria-label="Top navigation">
  <div class="{{ layout.container_class }}">
    <div class="navbar-nav flex-row order-md-last">
      <div class="nav-item py-1 text-secondary">Product ID: {{ product_id }}</div>
    </div>
    <div class="collapse navbar-collapse" id="beeui-topnav">
      <div class="navbar-nav">
        <div class="nav-item py-1">
          <strong>{{ product_title }}</strong>
        </div>
      </div>
    </div>
  </div>
</header>
